html {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

body {
  font-family: futura, "helvetica neue";
  font-size: 24px;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1050px;
}

.project-editor {
  display: flex;
  flex-direction: column;
  width: 50%;
}

input {
  border-radius: 0.2em;
  height: 1.2em;
  padding: 0.25em;
  font-size: 1em;
  text-align: left;
  flex-grow: 1;
}

div[contenteditable] {
  border: 2px dashed #777;
  border-radius: 0.2em;
  padding: 0.2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-size: 0.9em;
  font-family: "Helvetica Neue", sans-serif;
  flex-grow: 1;
}

.form-pair {
  display: flex;
  margin-top: 1em;
}

.form-pair label {
  width: 8em;
}

.form-pair .value-container {
  flex-grow: 1;
  display: flex;
}

.things-done-value-container {
  flex-direction: column;
}

.hidden {
  display: none !important;
  opacity: 0;
  transition: opacity 1s;
}

#status-message {
  background-color: #ffffee;
}

.zoom-protect-container {
  margin-left: 1em;
  margin-bottom: 1em;
  display: flex;
  width: 100%;
}

.gutter {
  width: 1em;
}

.project-region {
  pointer-events: none;
  fill: hsla(219, 22%, 73%, 0.5);
}

.label {
  pointer-events: none;
}

.plant-layer rect {
  stroke: white;
  stroke-width: 1;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2em;
}

.view-nav {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.view-button {
  cursor: pointer;
  margin: 0.25em;
}

.active-view-button {
  font-weight: bold;
  font-size: 1.5em;
}

.github-info {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.github-info input {
  width: 25em;
  height: 2em;
  margin-left: 1em;
  /* padding is not accepted by Firefox here. */
}

.github-info label {
  text-align: right;
}

.github-info button {
  background-color: white;
  padding: 0.5em;
  border-radius: 1em;
  border-width: 1px;
  border-color: #333;
  font-size: 1.2em;
  font-weight: bold;
  height: 2.4em;
  margin-top: 1em;
  cursor: pointer;
  font-family: futura;
  text-transform: uppercase;
}

header {
  margin-bottom: 2em;
}

.explanation {
  font-family: Garamond, Georgia;
  font-size: 0.8em;
}

a {
  color: black;
}

.details-layer {
  position: fixed;
  width: 100%;
  pointer-events: none;
}

.details-box {
  background-color: green;
  width: 30%;
  min-width: 200px;
  margin-left: 25%;
  pointer-events: auto;
}

.destroyed {
  display: none;
}
