.centered-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  width: 100%;
}

body {
  font-family: museo-sans, sans-serif;
  font-size: 24px;
  margin-bottom: 4em;
  width: 100%;
}

.form-pair {
  display: flex;
  margin-top: 1em;
  flex-wrap: wrap;
}

.form-pair label {
  width: 8em;
}

.form-pair .value-container {
  flex-grow: 1;
  display: flex;
}

.things-done-value-container {
  flex-direction: column;
}

.hidden {
  display: none !important;
  opacity: 0;
  transition: opacity 1s;
}

#status-message {
  background-color: #ffffee;
  width: 80%;
}

.zoom-protect-container {
  width: 100%;
  position: relative;
}

.gutter {
  width: 1em;
}

.project-region {
  pointer-events: none;
  fill: hsla(219, 22%, 73%, 0.5);
}

.label {
  pointer-events: none;
}

.plant-layer rect {
  stroke: hsla(0, 0%, 100%, 0.5);
  stroke-width: 1; 
}

.plant-layer rect.plant-backing {
  stroke: none;
}

header {
}

.title {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.view-nav {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.view-button {
  cursor: pointer;
  margin: 0.25em;
}

.active-view-button {
  font-weight: bold;
  font-size: 1.5em;
}

.github-info {
  margin-top: 2em;
  margin-bottom: 2em;
}

.github-info input {
  width: 60%;
  height: 2em;
  margin-left: 1em;
  /* padding is not accepted by Firefox here. */
}

.github-info button {
  background-color: white;
  padding: 0.5em;
  border-radius: 1em;
  border-width: 1px;
  border-color: #333;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1em;
  cursor: pointer;
  text-transform: uppercase;
}

header {
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
}

.explanation {
  margin-left: 2em;
  margin-right: 2em;
}

a {
  color: black;
}

.canvases-container {
  width: 100%;
  position: relative;
}

#garden-board {
  z-index: 1;
  position: absolute;
}

#garden-board-labels {
  z-index: 2;
  position: absolute;
}

#garden-targets-board {
  position: absolute;
  opacity: 0;
  z-index: 3;
}


.details-layer {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  pointer-events: none;
  top: 0px;
}

.details-box {
  z-index: inherit;
  background-color: white;
  width: 40%;
  margin-left: 28%;
  margin-top: 100px;
  pointer-events: auto;
  box-shadow: hsla(0, 0%, 0%, 0.25) 0 2px 10px;
  padding: 1em;
  border-radius: 0.4em;
  font-size: 0.8em;
}

.project-details {
  margin-bottom: 1em;
  flex-grow: 1;
}

.project-details > * {
  margin-bottom: 0.5em;
}

.name-link {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  margin-bottom: 0.5em;
}

.date-link {
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.5em;
  display: block;
}

.deed-details {
  background-color: #444;
  color: white;
  padding: 0.75em;
  border-radius: 0.25em;
}

.deed-details .name {
}

.deed-plant {
  font-size: 1.5em;
  pointer-events: none;
  height: 40px;
  dy: 40px;
}

.details-top-part {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
}

.details-box .close-button {
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  background-color: white;
  padding: 0.5em;
  border-width: 1px;
  border-color: #333;
  margin-bottom: 1.5em;
  min-width: 44px;
  font-family: sans-serif;
  min-height: 44px;
}

.destroyed {
  display: none;
}

.garden {
  background-color: hsl(86, 59%, 58%);
}

@media all and (max-width: 480px) {
  .title {
    font-size: 1em;
  }

  .view-nav {
    font-size: 0.8em;
  }

  .details-layer {
    left: 0;
  }

  .details-box {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    padding: 1em;
    border-radius: 0;
  }
}

.deed-name {
  cursor: pointer;
  font-size: smaller;
  text-decoration: none;
}

.show-deeds {
  margin-top: 1em;
  text-decoration: underline;
  cursor: pointer;
}

#basic-project-list {
  padding-left: 4em;
}

#list-container {
  max-width: 25em;
}

#list-container .project-details {
  cursor: pointer;
}

#basic-project-list .deeds-root {
  margin-bottom: 1em;
}

#activity-container {
  width: 1000px;
  height: 768px;
}

.group-name text {
  text-anchor: middle;
  fill: #555;
}

.activity {
  fill: hsla(0, 0%, 30%, 0.5);
}

#label-board {
  z-index: 1;
  position: absolute;
}

#activities-canvas {
  z-index: 0;
  position: absolute;
}

#activities-labels {
  z-index: 2;
  position: absolute;
}

#activities-targets-canvas {
  position: absolute;
  opacity: 0;
  z-index: 3;
}

.year {
  width: 100%;
  /* This is important for consistent widths of month sort sections. */
}

.year-labels text {
  fill: hsla(0, 0%, 0%, 0.4);
  text-anchor: middle;
}

#activity-groups {
  transform: translate(100, 0);
}

#activity-board {
  border: 2px dashed #aaa;
}

.date-labels text {
  font-size: 0.5em;
}

.year-title {
  font-size: 10em;
  font-weight: 500;
}

.month-root {
  width: 100%;
  /* This is important for consistent widths of month sort sections. */
}

.month-sort-section-root {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.month-sort-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 1em;
  /* Specifying width here will make this element the width 
 * without the margin added, seemingly even with box-sizing: border-box. */
  max-width: 33%;
  flex-basis: 0;
  flex-grow: 1;
}

.month-sort-section.startDate {
  order: 1;
}

.month-sort-section.lastGrownDate {
  order: 2;
}

.month-sort-section.shippedDate {
  order: 3;
}

.month-sort-section.lastTendedDate {
  order: 4;
}

.month-sort-name {
  margin-bottom: 0.5em;
  background-color: #fbf878;
  font-size: 1.1em;
}

.month-title {
  font-size: 2em;
  margin-bottom: 1em;
}

.month-project-root {
  margin-bottom: 1em;
}

#year-container .project-name {
  text-decoration: underline cornflowerblue;
  cursor: pointer;
}

.arrangement-controls .control-container {
  margin: 1em;
  /* Specifying width here will make this element the width 
 * without the margin added, seemingly even with box-sizing: border-box. */
  flex-grow: 1;
  margin-top: 0;
}

.arrangement-controls .control-container h3 {
  text-align: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.arrangement-controls ul {
  margin: 0;
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.arrangement-controls ul li {
  padding: 0.25em;
  cursor: pointer;
  text-decoration: underline;
}

.filters-container {
  display: flex;
  flex-direction: column;
}

.filter-category-root {
  margin-bottom: 1em;
  padding: 0.5em;
  flex-grow: 1;
}

.filter-list {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0;
  border: 1px solid #ddd;
  border-radius: 0.25em;
  margin-bottom: 0.5em;
}

.arrangement-controls .category-title {
  margin-top: 0;
  font-size: 1em;
  padding-left: 0.2em;
}

.arrangement-controls .criterion.selected {
  font-style: bold;
  background-color: rgb(122, 209, 81);
}

#plain-container {
  max-width: 30em;
}

.instruction {
  font-style: italic;
  margin-bottom: 1em;
  text-align: center;
}

#progress-message {
  text-align: center;
  padding: 0.25em;
  border-radius: 0.25em;
}

#progress-message.active {
  background-color: #fbf878;
}

.hide-arrangement-controls-button,.show-arrangement-controls-button {
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.2em;
}

.hide-arrangement-controls-button {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.show-arrangement-controls-button {
  margin-bottom: 1em;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  width: 70%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.mode-controls {
  text-align: center;
  margin-bottom: 1em;
}

.project-window {
  box-shadow: #333 4px 4px;
  border: solid 1px #666;
  max-width: 100%;
  /* Chrome needs this explicitly to fit it in a grid item. */
  margin-bottom: 1em;
}

#polyptych-container {
  width: 100%;
}

#polyptych-root {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: 15em;
  grid-auto-flow: dense;
  justify-content: stretch;
}

.tych {
  border: double 8px #333;
  padding: 1em;
  overflow: auto;
  cursor: pointer;
  word-break: break-word;
  /*! margin-bottom: 2em; */
}

.small-tych {
  grid-column-end: span 1;
  grid-row-end: span 1;
}

.wide-tych {
  grid-column-end: span 2;
  grid-row-end: span 1;
}

.tall-tych {
  grid-column-end: span 1;
  grid-row-end: span 2;
}

.big-tych {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.selected-tych {
  grid-column-end: span 4;
  grid-row-end: span 2;
  border-width: 16px;
}

.tych.featured {
  background-color: #ffc;
}

.tych .links-root {
  list-style-type: none;
  padding-left: 0;
  margin-top: 2em;
}

.tych .links-root li {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  font-weight: 700;
}

.tych .description {
  text-align: center;
}

.tych .title {
  margin-bottom: 1em;
}
  
@media all and (max-height: 320px) {
  .details-box {
    max-height: 240px;
    margin-left: 0;
    margin-top: 0;
    padding: 1em;
    border-radius: 0.4em;
    overflow: scroll;
  }

  .project-window {
    height: 10em;
  }
}

@media all and (max-width: 1280px) {
  #polyptych-root {
    grid-template-columns: 33% 34% 33%;
  }
}


@media all and (max-width: 568px) {
  #polyptych-root {
    grid-template-columns: 100%;
  }

  .tych {
    border-width: 4px;
  }

  /* A little deceptive to make wide-tych
 * tall, but there's no other way to give
 * it its due visual weight here. */
  .wide-tych {
    grid-column-end: span 1;
    grid-row-end: span 2;
  }

  .big-tych {
    grid-column-end: span 1;
    grid-row-end: span 2;
  }

  .selected-tych {
    grid-column-end: span 1;
    grid-row-end: span 2;
    border-width: 8px;
  }

}

@media all and (max-height: 568px) {
  body {
    font-size: 18px;
  }

  header {
    margin-bottom: 0;
  }

  #basic-project-list {
    padding-left: 3em;
    padding-right: 2em;
  }

  #list-container {
    max-width: 100%;
  }

  .name-link {
    font-size: 1.2em;
  }

  .details-box {
    height: 568px;
    padding: 0;
    max-height: 568px;
    overflow: scroll;
  }

  @media all and (max-width: 568px) {
    .details-box {
      width: 528px;
      padding: 20px;
    }
  }  

  @media all and (max-width: 480px) {
    .details-box {
      width: 440px;
      padding: 20px;
    }
  }

  @media all and (max-width: 320px) {
    .details-box {
      width: 280px;
      padding: 20px;
    }
  }

  @media all and (min-width: 569px) {
    .details-box {
      min-width: 400px;
    }
  }
}
